# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
#.env.development
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
*.py[cod]
*.so

# Logs
*.log

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
wheels/
*.manifest
*.spec

# Heroku files
Procfile

# Temporary files
tempCodeRunnerFile.py